.card1{
    background: url(../img/benefit/card1.jpg)
}
.card2{
    background: url(../img/benefit/card2.jpg);
}
.card3{
    background: url(../img/benefit/card3.jpg);
}
.card4{
    background: url(../img/benefit/card4.jpg);
}
.card5{
    background: url(../img/benefit/card5.jpg);
}
.card6{
    background: url(../img/benefit/card6.jpg);
}