.benefit-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.benefit-subtitle {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
  color: #fff;
}

.benefit-title {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 6rem;
  font-weight: 700;
}

.benefit-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: start;
}

/* left contents box */
.benefit-left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.benefit-box {
  border: 1px solid #fff;
  padding: 2.5rem 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.benefit-box img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.benefit-box p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #fff;
}

.benefit-box span{
    font-size: 0.8rem;
}

/* right contents box */
.benefit-right {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.benefit-text h3 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.benefit-text ul {
  list-style: none;
  padding-left: 0;
}

.benefit-text li {
  font-size: 0.95rem;
  font-size:0.8rem;
  margin-bottom: 0.2rem;
  color: #fff;
}

.more{
    font-size: 0.6rem;
}

/* 버튼 */
.benefit-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--point-pink);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s;
  cursor: pointer;
}

.benefit-btn:hover {
  background-color: var(--point-purple);
  color: #03355F;
}

/* 반응형 */
@media (max-width: 900px) {
  .benefit-wrapper {
    grid-template-columns: 1fr;
  }
}