footer{
  color: #fff;
}

.login{
  display: flex;
  gap: 1.5rem;
}

.login-box{
  background-color: #626262;
  width: 283px;
  border-radius: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.login-box>p{
  padding-left: 1rem;
}

.join {
  background-color: var(--point-pink);
  width: 6rem;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.l-ft>p{
  padding: 0.5rem 0;
}

.footer-logo{
  display: flex;
  gap: 0.5rem;
}

.footer-logo>figure>img{
  height: 1.4rem;
}

.r-ft{
  display: flex;
  gap: 8rem;
}

.r-ft>div>ul>li{
  padding: 0.5rem 0;
}

.gradient-bar {
  height: 0.1rem;
  width: 100%;
  background-image: linear-gradient(to right, 
    var(--point-pink) 0%, 
    var(--point-purple) 50%, 
    var(--point-pink) 100%
  );
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footer_bt-txt{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer_rbt-txt{
  display: flex;
  gap: 1rem;
}