html{
    color: #fff;
    background-color: var(--main-black);
}

.main-txt{
  margin-top: 9rem;
  margin-bottom: 3.5rem;
}

/* header2-product-category */
.header2-product-category {
  grid-template-columns: repeat(8,minmax(100px,1fr));
  background-color: var(--point-purple);
  text-align: center;
  position: sticky;
  left: 0;
  top: 4.25rem;
  z-index: 1000;
}

.h2pcate {
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-size: 0.8rem;
}

.h2pcate li {
flex: 1;
padding: 0.3rem 0;
}

.h2pcate li:hover {
background: var(--point-pink);
cursor: pointer;
}

/* category-select */
.caregory-select{
  text-align: center;
}

.caregory-select a{
  padding: 0.2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 6rem 1rem;
  padding-top: 11rem;
}


    
/*  제품 카드 */
.product-list {
text-align: center;
border: 0.05rem solid transparent;
border-radius: 0.3rem;
border: 0.1rem solid transparent;
padding: 2rem 0;
}
.product-list:hover {
border: 2px solid var(--point-pink);
}

.product-list img{
height: 15rem;
margin-bottom: 2rem;
}

.product-list h3{
margin-top: 2rem;
}

/* 컬러칩 영역 */
.color-options {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 0.4rem;
}

/* 컬러칩 스타일 */
.color-chip {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2rem;
  cursor: pointer;
  border: 0.1rem solid #ccc; /*비활성화 상태일 때 회색 테두리 */
  transition: border 0.3s, box-shadow 0.3s, transform 0.3s;
  margin-bottom: 1rem;
}

.color-chip.selected {
  border: 0.1rem solid var(--point-pink);
  box-shadow: 0 0 6px rgba(255, 105, 180, 0.6);}

.color-chip[style="background-color:#ffffff"]
{border: 0.1rem solid var(--point-pink);}

.color-chip:hover {
  transform: scale(1.2);
}
.color-chip.active {
  border: 0.1rem solid #fff;
}

.product-list:not(:has(.color-chip.selected)) .color-chip[style*="background-color:#ffffff"] {
border: 0.1rem solid var(--point-pink);
}

.product-list .color-chip[style="background-color:#ffffff"]:not(.selected)
{border: 0.1rem solid #ccc;}

.color-chip.dual-chip {
/* background: linear-gradient(방향, 색상1, 색상2); */
background: 
linear-gradient(90deg, 
var(--color1) 50%, 
var(--color2) 50%);
}

.product-more{
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

/* how to correct */
.how-to-correct .coreect-txt .point {
  margin-bottom: 1rem;
}

.how-to-correct{
  /* display: flex; */
  background: url(../img/product_page/correct_BG.jpg) no-repeat 50% 50% / 0 auto;
  /* gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem; */
}
 
.correct{
  display: flex;
  margin-bottom: 7.5rem;
}

.correct figure{
  padding-bottom: 2rem;
}

.correct-txt{
padding: 0.5rem;
text-align: center;}

.correct-txt>.point{
  padding-bottom: 1rem;}

.correct-txt>.more{
  text-align: center;
  padding-top: 1rem;
}

.guide-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 6rem 1rem;
  padding-top: 3.5rem;
}

.guide-txt-box{
  background-color: #fff;
  height: 7.65rem;
  color: #000;
  padding: 1rem;
}

.guide-txt-box>p{padding: 1rem 0;}