html{
    color: #fff;
    background-color: var(--main-black);
}

.main-txt{
  margin-top: 9rem;
  margin-bottom: 3.5rem;
}

/* title */
.case-main-title{
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.case-sub-title{
  text-align: center;
  line-height: 160%;
}

/* main banner */
.main-banner-container{
  display: flex;
  width: auto;
  height: 900px;
}

.main-banner{
  background: url(../img/product_page/case-main-banner1.png) no-repeat center/cover;
}

.main-banner2{
  background: url(../img/product_page/case-main-banner2.png) no-repeat center/cover;
}

.main-banner3{
  background: url(../img/product_page/case-main-banner3.png) no-repeat center/cover;
}

.main-banner,
.main-banner2,
.main-banner3 {
  flex: 1;
  height: 100%;
}



/* category-select */
.caregory-select{
  text-align: center;
}

.caregory-select a{
  padding: 0.2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 6rem 1rem;
  padding-top: 11rem;
}


    
/*  제품 카드 */
.product-list {
text-align: center;
border: 0.05rem solid transparent;
border-radius: 0.3rem;
border: 0.1rem solid transparent;
padding: 2rem 0;
}
.product-list:hover {
border: 2px solid var(--point-pink);
}

.product-list img{
height: 15rem;
margin-bottom: 2rem;
}

.product-list h3{
margin-top: 2rem;
}

/* 컬러칩 영역 */
.color-options {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 0.4rem;
}

/* 컬러칩 스타일 */
.color-chip {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2rem;
  cursor: pointer;
  border: 0.1rem solid #ccc; /*비활성화 상태일 때 회색 테두리 */
  transition: border 0.3s, box-shadow 0.3s, transform 0.3s;
  margin-bottom: 1rem;
}

.color-chip.selected {
  border: 0.1rem solid var(--point-pink);
  box-shadow: 0 0 6px rgba(255, 105, 180, 0.6);}

.color-chip[style="background-color:#ffffff"]
{border: 0.1rem solid var(--point-pink);}

.color-chip:hover {
  transform: scale(1.2);
}
.color-chip.active {
  border: 0.1rem solid #fff;
}

.product-list:not(:has(.color-chip.selected)) .color-chip[style*="background-color:#ffffff"] {
border: 0.1rem solid var(--point-pink);
}

.product-list .color-chip[style="background-color:#ffffff"]:not(.selected)
{border: 0.1rem solid #ccc;}

.color-chip.dual-chip {
/* background: linear-gradient(방향, 색상1, 색상2); */
background: 
linear-gradient(90deg, 
var(--color1) 50%, 
var(--color2) 50%);
}

.product-more{
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

/* how to correct */
.correct-title{
  margin-bottom: 5rem;
}

.correct {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 2rem;
    margin-bottom: 7.5rem;
    padding: 2rem 2rem;
    background: url(../img/product_page/correct_BG.jpg) no-repeat center/cover;
}

.correct-box {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 8px;
}

.correct figure img, .correct figure video {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.correct-txt .point {
  margin-bottom: 1rem;
}

.correct-txt .more {
  margin-top: 1rem;
}

/* Guides */
.guide-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 3rem 1rem;
  padding-top: 3.5rem;
}

.guide-txt-box{
  /* background-color: #000; */
  height: 7.65rem;
  color: #fff;
  padding: 1rem;
  flex-grow: 1;
}

.guide-txt-box>p{padding: 1rem 0;}

.guide-img {
  width: 100%;
  aspect-ratio: 16 / 10;
  object-fit: cover;
  display: block;
}


