@media (max-width:1440px){
    .pc{display: none;}
    .product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6rem 1rem;
    padding-top: 11rem;
    }

    main{
        margin-top: 4.6rem; /* header-smart 높이 (logo 2.6rem + padding 2rem) */
    }
}