@media (max-width:768px){
    .h2pcate {
    font-size: 0.6rem;
    }

    .correct {
    display: flex;
    justify-content: center;
    margin-bottom: 7.5rem;
    flex-direction: column;
    align-items: center;
    }
    .guide-wrapper{
    width: 600px;
    height: 300px;}
}