@media (max-width:768px){
    .h2pcate {
    font-size: 0.6rem;
    }

    .correct {
    display: flex;
    justify-content: center;
    margin-bottom: 7.5rem;
    flex-direction: column;
    align-items: center;
    }
    .guide-wrapper{
    width: 600px;
    height: 300px;}

    .product-category {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
    gap: 4rem;
    color: #fff;
    margin-bottom: 10rem;
}

    .promotional-deals {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-bottom: 10rem;
    }
}